@page "/games/animal-click"

<h1>Clique no animal</h1>

<button @onclick="ClickAnimal">
    🐶
</button>

<p>@message</p>

@code {

    string message = "";

    void ClickAnimal()
    {
        message = "Muito bem!";
    }

}