@page "/"
@using Daphine.Services
@using Daphine.Models
@inject GameService GameService

<section class="library-shell">
    <div class="games-grid">
        @foreach (var game in games)
        {
            <NavLink class="game-tile" href="@game.Route" aria-label="Abrir jogo @game.Name">
                <img class="game-image" src="@game.Image" alt="Capa do jogo @game.Name" />
                <span class="play-pill">JOGAR</span>
            </NavLink>
        }
    </div>
</section>

@code {
    List<Game> games = new();

    protected override void OnInitialized()
    {
        games = GameService.GetGames();
    }
}